# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
train/
Report/
report/
scratch/
chroma_db/
uploads/
models/
config/demo/
data/processed/
data/temp_clips/
data/output/
*.zip
*.rar
*.log
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db
desktop.ini
